@page "/carreras-disponibles"
@using ProyectoNET.Shared
@layout Layout
@code {

}



<div class="container-fluid text-center py-5 hero text-white">
  <h1 class="display-3">Carreras en curso!</h1>
  <input type="text" placeholder="Buscar carrera..." class="form-control mx-auto w-75" />
</div>

<div class="container my-3">
  <div class="row row-cols-1 row-cols-md-3 g-5">
  @foreach(var carrera in _carreras){
    <div class="col">
      <div class="card">
        <div class="ratio ratio-16x9">
          <img src="@carrera.ImagenPromocional" class="card-img-top" alt="...">
        </div>
        <div class="card-body"> 
          <h5 class="card-title text-center">@carrera.Nombre</h5>
          <ul class="list-group list-group-flush text-start">    
    <li class="list-group-item d-flex flex-column">
        <strong>Descripción:</strong>
        <span class="d-inline-block text-truncate" style="max-width: 100%;">
          @carrera.Descripcion
        </span>
    </li>
    <li class="list-group-item"><strong>Ubicación:</strong> @carrera.Ubicacion</li>
    <li class="list-group-item"><strong>Fecha de Inicio:</strong> @carrera.FechaInicio.ToString("dd/MM/yyyy")</li>
    <li class="list-group-item"><strong>Costo Inscripción:</strong> @carrera.CostoInscripcion.ToString("C")</li>
    <li class="list-group-item"><strong>Cantidad Participantes:</strong> @carrera.CantidadParticipantes / @carrera.CantidadMaximaParticipantes</li>

</ul>
        </div>
        <button class="card-footer btn btn-primary">
          Inscribirme a la carrera!
        </button>
      </div>
    </div>
    }
  </div>
</div>
